<ion-item
  *ngIf="movie"
  [routerLink]="'/movie/' + movie.id"
  [detail]="false"
  [id]="'movie-item-id-' + movie.id"
>
  <ion-grid class="transparency">
    <ion-row>
      <ion-col size="5" class="movie-size">
        <img id="movie-poster" [src]="getPoster(movie.poster_path)" />
      </ion-col>
      <ion-col size="5" class="ion-col-padding">
        <p id="movie-title-label">Title:</p>
        <p class="movie-name-overflow" id="movie-title">
          {{ movie.original_title }}
        </p>

        <p id="movie-release-date-label">Release Date:</p>
        <p id="movie-release-date">{{ movie.release_date }}</p>

        <p id="movie-rating-label">Average Rating:</p>
        <p id="movie-rating">{{ movie.vote_average }}</p>
      </ion-col>
      <ion-col size="2">
        <ion-button class="transparency" id="add-watchlist-button">
          <ion-icon
            src="../../../assets/icon/bookmark.svg"
            size="large"
          ></ion-icon>
        </ion-button>
        <br />
        <ion-button class="transparency" name="review-button">
          <ion-icon src="../../../assets/icon/star.svg" size="large"></ion-icon
        ></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
